<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<link rel="stylesheet" href="/against-method/assets/css/styles.css">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
